{
    "presets": [
     "@babel/react",
     "@babel/env"
    ],
    "plugins": [
     "@babel/plugin-proposal-class-properties"
    ],
    "env": {
     "development": {
      "plugins": ["transform-es2015-modules-commonjs"]
     },
     "test": {
      "plugins": [
       "transform-es2015-modules-commonjs",
       "istanbul"
      ]
     }
    }
   }
  